<div class="container border rounded w-75 mt-5 p-2">

  <h1>Editing Post</h1>

  <%= render 'form', post: @post, button_tag: "Update Post"  %>

  <%= link_to 'Show', @post, class: 'btn btn-secondary' %>
  <%= link_to 'Home', posts_path, class: 'btn btn-secondary' %>

</div>
