<div class="container border rounded w-75 my-5 p-2">

  <p>
    <h2 class="text-center my-5"><%= @post.title %></h2>
    
  </p>

  <p>
    <%= @post.body %>
  </p>

  <div class="d-flex justify-content-center">
    <%= link_to 'Home', posts_path, class: "btn btn-primary me-3"  %>
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary" %>
  </div>

</div>
